/*Main about us area start*/
.overlay {
	position: relative;
	z-index: 1;
}

.overlay:after {
	background-color: rgba(0, 0, 0, 0.8);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.section-padding {
	background: linear-gradient(to right, #e0ce9e,#d0d4d1,#e0ce9e);
	padding: 30px 0;
}

.section-title {
	border: 0.15em dotted #008c96;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
	padding: 1ch;
}

.section-title h2 {
	margin-bottom: 30px;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
}

.section-title p {
	text-transform: capitalize;
	margin-top: 10px;
	font-size: 18px;
}
.section-title b {
	font-weight: 500;
}

.section-title .title-line {
	color: #ffd000;
	position: relative;
}

.section-title .title-line::after {
	background-color: #333;
	content: "";
	height: 2px;
	left: -60px;
	position: absolute;
	top: 5px;
	width: 50px;
}

.section-title .title-line::before {
	background-color: #333;
	content: "";
	height: 2px;
	position: absolute;
	right: -60px;
	top: 5px;
	width: 50px;
}

.overlay .section-title h2,
.overlay .section-title p {
	color: #fff;
}

.overlay .section-title .title-line::after,
.overlay .section-title .title-line::before {
	background-color: #fff;
}
/*Main about us area end*/

/*****Our vision and mission area start*****/
.section-title2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7)) ,url(../images/visionmission.png);
	font-size: 8px;
	font-weight: 200;
	margin-bottom: 20px;
}

.section-title2 h2 {
	color: #fff;
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
}

.section-title2 p {
	color: #fff;
	opacity: o.5;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
}

.section-title3 {
	border: 1px solid rgb(51,195,185);
}

.section-title3 i.fa {
	font-size: 15px;
	color: #c19040;
}

.section-title2 i.fa {
	font-size: 55px;
	color: #c19040;
}

.section-title i.fa {
	font-size: 30px;
	color: #c19040;
}
/*****Our vision and mission area END*****/



/*== Service Area CSS Start ******************************need this**************************** ==*/

/*service box width and heighe control start*/
.service-item {
	background-color: #e9e8e7;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	color: #222;
	margin-bottom: 0px;
	padding: 30px 10px;
}
/*service box width and height control end*/

.service-item h3 {
	color: #000;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 20px 0 15px;
}

.service-item p {
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.service-item i.fa {
	font-size: 55px;
	color: #c19040;
}

/*service content width and height*/
.service-container-wrap .service-item {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);;
	border: 2px solid #008c96;
	padding: 30px 20px;
}

/*== Service Area CSS End ==*/


/*== Article Area CSS Start  //***********************needed************************************==*/
/*artical box*/
.single-gallery {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.col-lg-12:last-child .single-gallery {
	margin-bottom: 0;
}

.single-gallery .gallery-thumb {
	margin: -10px;
}

.single-gallery .middle .gallery-thumb {
	margin-right: -10px;
}

.gallery-thumb img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	/*width: 500px;
	height: 270px;*/
}

.single-gallery:hover .gallery-thumb img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.article-body {
	position: relative;
}

.article-body h3 a {
	font-size: 20px;
	color: #333;
}
.article-body p {
	color: #999;
	line-height: 1.8;
	text-transform: capitalize;
}

/*== Article Area CSS End ==*/



/*== SlideShow CSS start ==*/
#slideslow-bg{
	height: 650px;
	background-image: url("../images/homemain.png");
}
.slideshowcontent {
	line-height: 2;
	margin-top: 30px;
}
.slideshowcontent h2 {
	color: #ffd000;
	margin-bottom: 30px;
	font-family: fantasy;
}
.slideshowcontent h4 {
	color: white;
	margin-bottom: 10px;
}

/*== SlideShow CSS end ==*/


/******Body area All Styles END*****/


/* Ramifyo hotel OUR STORY START*/
.cocomodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
#RamifyoModalBox .modal-content {
  background: linear-gradient(to right, #e0ce9e,#d0d4d1,#e0ce9e);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#RamifyoModalBox .modal-content p{
	font-family: cursive;
	font-size: 15px;
	color: black;
	line-height: 1.7;
}

#RamifyoModalBox .modal-content h2{
	font-weight: bold;
	color: #008c96;
}
#chairmanMessage {
	border: 1px solid;
}
#chairmanMessage p{
	color: black;
}

/* The Close Button */
.close {
  color: #b61919;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #b61919;
  text-decoration: none;
  cursor: pointer;
}

/* Ramifyo hotel OUR STORY END*/


/* Contact Us page CSS start */
.container-fluid{
		background: linear-gradient(to right, #e0ce9e,#d0d4d1,#e0ce9e);
}
.container-fluid h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}
.social{
	border: 1px solid;
}
.social h4{
	font-weight: bold;
}
.social h5{
	color: #008c96;
	font-weight: 500;
	text-decoration: none;
}
.social a{
	color: black;
}

/* Contact Us page CSS end */


/* Feedback page CSS start */
.form-out-border{
	border: 1px dotted;
}
.feedback-info-us{
	border: 1px dotted;
}

.feedback-info-us h5{
	font-family: monospace;
	font-weight: bold;
	font-size: 18px;
	color: #008c96;
	line-height: 1.5;
}

.lable-deco{
	font-family: monospace;
	font-weight: bold;
	font-size: 18px;
	color: #008c96;
	line-height: 1.5;
	margin-right: 60px;
}

.feedback-field{
	width: 450px;
	margin-bottom: 20px;
}
/* Feedback page CSS end */

/* News page CSS start */
.news{
	border: 1px solid;
}
.news h4{
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 1.5;
	font-weight: bold;
}
.news-notice-container-wrap .offer-img {
	-webkit-box-shadow: 0 10 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 10 5px rgba(0, 0, 0, 0.6);;
	border: 2px solid #021d1f;
	padding: 10px 10px;
}
/* News page CSS end */


/* Food Menu page CSS start */
.container-fluid{
	background: linear-gradient(to right, #e0ce9e,#d0d4d1,#e0ce9e);
}
.container-rr{
	background-color:#000;
}
/* Food Menu page CSS end */

/* Room Availability check */
.ee{
	/*background-color: #b61919;*/
	border: 2px solid;
	border-bottom: 60px;
	border-color: #b61919;
}
/* Room Availability check */

/******footer image resolution start******/
.hometheme{
	margin-right: 15px;
	width: 150px;
	height: 150px;
}
/******footer image resolution end******/


.section-title .btn-info{
	background-color: #171f4e;
	color: white;
	font-weight: bold;
	font-size: 15px;
	padding: 1.2em;
	margin: 2%;
}